<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greetings</title>
    <style>
        body{
            background-image:url(https://webneel.com/wallpaper/sites/default/files/images/08-2013/8-india-independence-day-wallpaper.jpg) ;
            background-size: cover;
            max-width: 1300px;
            max-height:max-content;
        }
        h1{
            text-align: center;
            color: ivory;
            text-shadow:0px 6px 4px black;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1>Happy Independence day dear, </h1>
    <h1 style="color: rgb(43, 220, 226);"><%=name%></h1>
   
</body>
</html>